# envs & caches
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc

# data (keep folders, ignore large files)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# models/artifacts (track only what you want)
models/*

# OS junk
.DS_Store
Thumbs.db
